AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
CONTACT_MAILBOX=welcome@gamriechalets.co.uk

LODGIFY_API_KEY=
LODGIFY_PROPERTY_ID_MUCKLE_VIEW=
LODGIFY_PROPERTY_ID_MURRAY_COTTAGE=

NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
